@charset "UTF-8"
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
</style>

}



body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0 1em;
	text-align:center;
}


.about-me{

}
h1{
	border-bottom: solid 3px black;
	text-align:center;
}
img{

	width:100%;
	max-width: 100%;
	height: auto;
	align-content: center;
	
}

.hobby{

}
h2{
	border-bottom: solid 3px black;
	text-align:center;
}



.security{

}
h2{
	border-bottom: solid 3px black;
	text-align:center;
}


.study{

}
h2{
	border-bottom: solid 3px black;
	text-align:center;
}



.social {
}
h2{
	border-bottom: solid 3px black;
	text-align:center;
}
p{
	text-align: center;
}


.social-icon a{
	margin: 0 auto;
	text-align: center;
}
.social-icon img{
		width:30%;
		max-width: 30%;
		height: 30%;
		
		}

	
footer{
	text-align: center;
	font-size: 12px;
}


