@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

html{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}





/*---menu bar---*/
ul.topnav{
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white;
}
ul.topnav li{
	float: left;
}
ul.topnav li a{
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: black;
}
ul.topnav li a:hover:not(.active){
	background-color: #a9bce2;
}
ul.topnav li a.active{
	background-color: #2f69fc;
}
ul.topnav li.right{
	float: right;
}
@media screen and (max-width:768px){
	ul.topnav li.right, ul.topnav li{
		float: none;
	}
}
/*---About-me---*/
.about-me {
	background-color: #191919;
	border-bottom: solid 3px;
	color: #ffffff;
	text-align:center;
	align-content: center;
}

.about-image{
	margin: 0 auto;
	margin-right:10px;
	width:auto;
	max-width: auto;
	height: auto;
	}
.p1{
	text-align: justify;
}
/* Responsive*/
@media screen (max-width:768px){
	max-width: 50%;
	max-height: 50%;
	.about-image{
		padding: 25px 30px 25px;
		text-align: center;
	}



div.hobby{
	text-align:left;

}


div.skill{
	text-align:center;
}



div.social{
	text-align:center;
}


.p2{
	text-align: center;
}





div.social {
	margin: 0 auto;
	display: flex;
}

.p3{
	text-align: center;
}
div.social-icon {
		display: flex;
		width:30%;
		max-width: auto;
		height: 30%;
		}

	
footer{
	text-align: center;
	font-size: 12px;
}


