@charset "UTF-8"
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
</style>

body,head {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0 1em;
	text-align:center
}

main {
	text-align:center
}


